<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="content">
    <div style="margin-top: 5%" class="container-fluid bg-body">
        <div class="container">
            <p class="h1" th:text="'Statistics for task '+${task.task.name}"></p>
            <a th:href="|@{/profile/tasks/}${task.id}|"> to task</a>
        </div>
        <form th:action="|@{/tasks/statistics/}${task.id}|" th:method="GET">
            <div class="input-daterange input-group mb-3 mt-3" id="datepicker">
                <span class="input-group-text" id="basic-addon1">Start</span>
                <input name="start" id="startDate" class="form-control" type="date" th:value="${start}"/>
                <span class="input-group-text" id="basic-addon2">End</span>
                <input name="end" id="endDate" class="form-control" type="date" th:value="${end}"/>
                <input class="btn btn-primary btn-lg" type="submit" value="Filter">
            </div>
        </form>
        <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-daily-tab" data-bs-toggle="tab" data-bs-target="#nav-daily"
                        type="button" role="tab" aria-controls="nav-daily" aria-selected="true">Daily statistics
                </button>
                <button class="nav-link" id="nav-monthly-tab" data-bs-toggle="tab" data-bs-target="#nav-monthly"
                        type="button" role="tab" aria-controls="nav-monthly" aria-selected="false">Monthly statistics
                </button>
            </div>
        </nav>
        <div class="tab-content table-responsive" id="nav-tabContent">
            <table class="table table-striped tab-pane fade show active" id="nav-daily" role="tabpanel" aria-labelledby="nav-home-tab">
                <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Date</th>
                    <th scope="col">Active time</th>
                    <th scope="col">Active percent</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="statistic : ${statistics}" th:if="${statistic.getActivePercent() >= 0.01}">
                    <td th:text="${statistic.usersTask.task.getName()}"></td>
                    <td th:text="${statistic.getDate()}"></td>
                    <td th:text="${statistic.getActiveTime()}"></td>
                    <td th:text="${#numbers.formatDecimal(statistic.getActivePercent(),3,2)}+'%'"></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped tab-pane fade" id="nav-monthly" role="tabpanel" aria-labelledby="nav-monthly-tab">
                <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Date</th>
                    <th scope="col">Active time</th>
                    <th scope="col">Active percent</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="statistic : ${monthlyStatistics}" th:if="${statistic.getActivePercent() >= 0.01}">
                    <td th:text="${statistic.usersTask.task.getName()}"></td>
                    <td th:text="${statistic.getDate()}"></td>
                    <td th:text="${statistic.getActiveTime()}"></td>
                    <td th:text="${#numbers.formatDecimal(statistic.getActivePercent(),3,2)}+'%'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>