<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="layout :: page" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username} profile"></title>
</head>
<body>
<div th:fragment="content">
    <div style="margin-top: 5%" class="container-fluid bg-body">
        <div class="container">
            <p class="h1" th:text="${user.username}"></p>
            <a th:href="@{/profile/edit}"> Edit</a>
        </div>
        <table class="table table-hover">
            <tbody th:each="task : ${tasks}">
            <tr class="table-primary"
                th:if="${task.parentTask} == null">
                <th scope="row">Task:</th>
                <td><a class="navbar-brand" th:href="|@{/profile/tasks/}${task.getId()}|"
                       th:text="${task.task.name}"></a></td>
                <td>
                    <p th:text="'Status: '+${task.task.status.status}"></p>
                    <div th:if="${task.isActive()}">(Active)</div>
                </td>
                <td>
                    <div th:text="${task.getActiveTime()}"></div>
                </td>
                <td>
                    <p th:if="${user.id != task.task.createdBy.id and task.task.id != 1}"
                       th:text="'Assigned by: '+${task.task.createdBy.username}"></p>
                </td>
                <td><a th:if="${task.task.modifiable}" th:href="|@{/profile/tasks/save?id=}${task.id}|">Edit</a></td>
                <td>
                    <form th:if="${task.task.modifiable}" th:method="POST" th:action="@{/profile/tasks/delete}">
                        <input th:value="${task.id}" name="task" hidden>
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td>
                    <form th:unless="${task.isActive()}" th:method="POST" th:action="@{/profile/tasks/active}">
                        <input th:value="${task.id}" name="task" hidden>
                        <input type="submit" value="Set active">
                    </form>
                </td>
                <td><a th:href="|@{/profile/tasks/save?parent=}${task.getId()}|">Create subtask</a></td>
            </tr>
            <tr class="table-secondary" th:each="subtask : ${task.getChildrenTasks()}">
                <th scope="row">Subtask:</th>
                <td><a class="navbar-brand" th:href="|@{/profile/tasks/}${subtask.getId()}|"
                       th:text="${subtask.task.name}"></a></td>
                <td>
                    <p th:text="'Status: '+${subtask.task.status.status}"></p>
                    <div th:if="${subtask.isActive()}">(Active)</div>
                </td>
                <td>
                    <div th:text="${subtask.getActiveTime()}"></div>
                </td>
                <td>
                    <p th:if="${user.id != subtask.task.createdBy.id and subtask.task.id != 1}"
                       th:text="'Assigned by: '+${subtask.task.createdBy.username}"></p>
                </td>
                <td><a th:if="${subtask.task.modifiable}" th:href="|@{/profile/tasks/save?id=}${subtask.id}|">Edit</a>
                <td>
                    <form th:if="${subtask.task.modifiable}" th:method="POST" th:action="@{/profile/tasks/delete}">
                        <input th:value="${subtask.id}" name="task" hidden>
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td>
                    <form th:unless="${subtask.isActive()}" th:method="POST"
                          th:action="@{/profile/tasks/active}">
                        <input th:value="${subtask.id}" name="task" hidden>
                        <input type="submit" value="Set active">
                    </form>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/profile/tasks/save}">Create new task</a>
    </div>
</div>
</body>
</html>