<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="layout :: page" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username} profile"></title>
</head>
<body>
<div th:fragment="content">
    <div style="margin-top: 20%">
        <ul>
            <li th:each="task : ${tasks}" th:if="${task.parentTask} == null">
                <a th:href="|@{/profile/tasks/}${task.getId()}|" th:text="${task.task.name}"></a>
                <p th:text="${task.getActiveTime()}"></p>
                <p th:if="${activeTask.id} == ${task.id}">Active</p>
                <ul>
                    <li th:each="subtask : ${task.getChildrenTasks()}">
                        <a th:href="|@{/profile/tasks/}${subtask.getId()}|" th:text="${subtask.task.name}"></a>
                        <p th:text="${subtask.getActiveTime()}"></p>
                        <p th:if="${activeTask.id} == ${subtask.id}">Active</p>
                    </li>
                </ul>
            </li>
        </ul>
        <a th:href="@{/profile/tasks}">Create new task</a>
    </div>
</div>
</body>
</html>